<% @title = "Edit Dancer Score" %>
<% @header = "Edit Dancer Score" %>

<h2>Dancer Name: <%= @dancer.name %></h2>
<h2>Dance Name: <%= @dancer.dance_name %></h2>
<hr />

<button><%= link_to "New Dance Score", new_score_path %></button>

<%= render "scores/table", scores: @dancer.scores %>
