<% @title = "Admin" %>
<% @header = "Admin" %>

<table class="table">
  <tr>
    <th scope="col">Key</th>
    <th scope="col">Value</th>
    <th scope="col">Options</th>
  </tr>
  <% @settings.each do |key| %>
  <tr>
    <td><%= key %></td>
    <td><%= Setting.find_by(var: key).value %></td>
    <td><%= link_to 'Edit', edit_admin_setting_path(key) %></td>
  </tr>
  <% end %>
</table>
