<% @title = "View User" %>
<% @header = "View User #{@user.name}" %>


<table class="table">
<%= label :username, "Username" %>
<%= @user.username %>

<%= label :name, "Name" %>
<%= @user.name %>
</table>
