<% @title = "Scores" %>

<h1>Scores Index</h1>

Back to <%= link_to "Home", root_path %>

<table>
<%= render "scores/table" %>
<% @scores.each do |score| %>
  <%= render "scores/score", :score => score %>
<% end %>
</table>
