<% @title = "Scores" %>
<% @header = "Scores Index" %>

<table class="table">
<%= render "scores/table" %>
<% @scores.each do |score| %>
  <%= render "scores/score", :score => score %>
<% end %>
</table>
