<% @title = "Home" %>
<% @header = "Home Page" %>

<table class="table">
  <%= render "scores/table" %>
  <% @scores.each do |score| %>
    <%= render "scores/score", :score => score %>
  <% end %>
</table>
