<% @title = "Edit Setting" %>
<% @header = "Edit Setting" %>

<%= form_for(@setting, url: admin_setting_path(@setting.var), method: 'patch') do |f| %>
  <div class="form-group row">
    <div class="col-sm-10">
      <%= f.label :var, @setting.var, class: "col-sm-2 col-form-label" %>
      <%= f.text_area :value, rows: 10 %>
    </div>
  </div>

  <%= f.button "Submit", class: "btn btn-primary" %>
<% end %>
