<h1>Dancers index</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Score</th>
    <th>Group</th>
  </tr>
  <% @dancers.each do |dancer| %>
    <tr>
      <td><%= dancer.first_name %></td>
      <td><%= dancer.last_name %></td>
      <td><%= dancer.score %></td>
      <td><%= dancer.group.name %></td>
    </tr>
  <% end %>
</table>
