<h1>Dancers index</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Group</th>
  </tr>
  <% @dancers.each do |dancer| %>
    <tr>
      <td><%= dancer.name %></td>
      <td><%= dancer.score %></td>
      <td><%= dancer.group.name %></td>
    </tr>
  <% end %>
</table>
