<% @title = "dancer index" %>

<h1>Dancers index</h1>

back to <%= link_to "home", root_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
  </tr>
  <% @dancers.each do |dancer| %>
    <tr>
      <td><%= dancer.name %></td>
      <td><%= dancer.group.name %></td>
    </tr>
  <% end %>
</table>
