<% @title = "Dancer Info" %>
<% @header = "Dancer Info for #{@dancer.name}" %>

<table class="table">
  <tr>
    <th>Group</th>
    <th>Dancer Name</th>
  </tr>
    <tr>
      <td><%= @dancer.group.name %></td>
      <td><%= @dancer.dance_name %></td>
    </tr>
</table>

<%= render "scores/table", scores: @dancer.scores %>

<%= link_to "Edit Scores", edit_score_path(@dancer.scores) %>
