name: Deploy to eks

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGION: us-west-2

jobs:
  deploy:
    name: Deploy
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      - name: Authenticate to aws
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: '${{ env.REGION }}'
          role-to-assume: arn:aws:iam::152778659453:role/github-actions

      - name: auth to tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      # Deploy the Docker image to the GKE cluster
      - name: Deploy
        run: |-
          aws eks update-kubeconfig --name interesting-blues-orca --region ${{ env.REGION }}
          
          kubectl cluster-info
