name: Deploy to eks

on:
  push:
    branches:
      - main

env:
  REGION: us-west-2

jobs:
  deploy:
    name: Deploy
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      - name: Authenticate to aws
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: '{{ env.REGION }}'
          role-to-assume: arn:aws:iam::152778659453:role/github-actions

      # Deploy the Docker image to the GKE cluster
      - name: Deploy
        run: |-
          aws eks update-kubeconfig --name interesting-blues-orca --region {{ env.REGION }}
          ./kustomizeploymentawefeDEees -o wide
