name: Deploy to eks

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: 'my-projeeprovider' # TODO: update to your workload identity provider

jobs:
  deploy:
    name: Deploy
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      - name: Authenticate to aws
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::152778659453:role/github-actions

      # Deploy the Docker image to the GKE cluster
      - name: Deploy
        run: |-
          # replacing the image name in the k8s template
          ./kustomizeploymentawefeDEees -o wide
